@{
    ViewData["Title"] = "The Joel Hilton Film Collection";
    ViewData["Tab"] = "Film Collection";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <p>Learn about Joel Hilton</p>
    <img src="~/img/JoelHilton.jpg" />
</div>