
@{
    ViewData["Title"] = "My Podcasts";
    ViewData["Tab"] = "Podcasts";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <p>Visit Joel's podcast <a href="https://baconsale.com/">here</a>.</p>

</div>
